@{ 
    @model Seguros.Web.FrontEnd.Models.Requerimiento
    List<Seguros.Web.FrontEnd.Controllers.ResumenClass> listInfo = ViewBag.Empleados;
}

@{
    ViewBag.Title = "Edit";
}

<h2 style="text-align:center; margin-top: 5%; ">ASIGNAR REQUERIMIETO</h2>

<div class="container" style="text-align: center;">
    @if (Model.Cliente != null)
    {
    <div class="form-horizontal container col-md-3" style="float:left; background: oldlace;">
        <h3 style="text-align:center">DETALLES <br> REQUERIMIETO</h3>
        <div>
            <h4>Rut Cliente </h4>
            <div style="color:blue">
                @Html.DisplayFor(model => model.Cliente.Rut_cliente)
            </div>
        </div>

        <div>
            <h4>Nombre Cliente </h4>
            <div style="color:blue">
                @Html.DisplayFor(model => model.Cliente.Nombre) @Html.DisplayFor(model => model.Cliente.ApellidoPat) @Html.DisplayFor(model => model.Cliente.ApellidoMat)
            </div>
        </div>

        <div>
            <h4>Fecha Ingreso </h4>
            <div style="color:blue">
                @Model.Fecha_req.ToString("dd'/'MM'/'yyyy")
            </div>
        </div>

        <div>
            <h4>Estado </h4>
            <div style="color:blue">
                @Html.DisplayFor(model => model.Estado.Descripcion)
            </div>
        </div>
        <div>
            <h4>Observación </h4>
            <div style="color:blue">
                @Html.DisplayFor(model => model.Cliente.Observaciones)
            </div>
        </div>
    </div>
    }
    else
    {
        <h4>Sin datos del cliente</h4>
    }

<div class="form-horizontal container col-md-8" style=" margin-left: 50px;">
    @if (listInfo != null)
    {
        <table class="table" style="background: lightgoldenrodyellow; ">
            <tr>
                <th>
                    ENCARGADO
                </th>
                <th>
                    CARGO
                </th>
                <th>
                    REQ. TOMADOS
                </th>
                <th>

                </th>
                <th></th>
            </tr>

            @foreach (var std in listInfo)
            {
                <tr>
                    <td>
                        @std.nombre
                    </td>
                    <td>
                        @std.puesto
                    </td>
                    <td>
                        @std.cantidadReq
                    </td>
                    <td>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <input type="hidden" id="Id_empleado" name="Id_empleado" value="@std.idEmpleado" />
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="ASIGNAR" class="btn btn-default" />
                            </div>
                        }

                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h4>Sin requerimientos nuevos</h4>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
