@model IEnumerable<Seguros.Web.FrontEnd.Models.Requerimiento>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center; margin-top: 5%;">NUEVOS REQUERIMIENTOS</h2>

<div class="container" style="margin-top: 5%;">
    <table class="table" style="background: lightgoldenrodyellow;">
        <tr>
            <th>
                RUT CLIENTE
            </th>
            <th>
                FECHA INGRESO
            </th>
            <th>
                FECHA LIMITE
            </th>
            <th>
                OPERACION
            </th>
            <th>
                ESTADO
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Cliente.Rut_cliente
                </td>
                <td>
                    @item.Fecha_req.ToString("dd'/'MM'/'yyyy")
                </td>
                <td>
                    @item.Fecha_limit_req.ToString("dd'/'MM'/'yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Operacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Descripcion)
                </td>
                <td>
                    @if (item.Estado.Descripcion == "PENDIENTE")
                    {
                        @Html.ActionLink("Asignar Encargado", "Edit", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
</div>
